In [2]:
a=10

In [3]:
a="c"

In [4]:
type(a)

str

In [6]:
print(123)

123

# Different print usage.

In [1]:
age = 25
print("My age is:",age)

My age is: 25

In [14]:
print(f"My age is:{age}")  ### "f" is use for formatting also called as f string.

My age is:25

In [16]:
## format()
name = "Praveen"
age = 25
print("My name is {} and age is {}".format(name,age))
print("My name is {} and age is {}".format(age,name))

My name is Praveen and age is 25
My name is 25 and age is Praveen

In [19]:
## placeholder
print("My name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is Praveen and age is 25
My name is Praveen and age is 25

In [24]:
name = "Praveen"
age = 25
degree = "BE"

##"My age is 25 and i have completed: my degree of BE the name of Praveen"   ## output sould come in this form.

print("My age is {} and i have completed: my degree of {} the name of {}".format(age,degree,name))

My age is 25 and i have completed: my degree of BE the name of Praveen

## Control Flow
### Decision making statements
1. if
2. if else
3. if elif else
4. Nested if
5. Single statement suites

In [26]:
## if statements

age = 18 
if age >= 18:
    print("Your are eligible to vote")

Your are eligible to vote

In [28]:
NAME = input("ENTER YOUR NAME")

ENTER YOUR NAME Praveen Patel

In [29]:
NAME

'Praveen Patel'

In [30]:
age = int(input("Enter your Age"))

Enter your Age 25

In [33]:
print(age)
type(age)

25

int

In [34]:
## task 
## take the input of age
## check whether age >= 18 and age <=45
## display a msg "you are young blood"

In [35]:
age = int(input("Enter you age"))
if age >=18 and age <= 45:
    print("You are young blood")

Enter you age 25

You are young blood

In [36]:
age = int(input("Enter you age"))
if age >=18 and age <= 45:
    print("You are young blood")

Enter you age 55

In [39]:
## if else.

age = int(input("Enter you age"))
if age >=18 and age <= 45:
    print("You are young blood")
else:
    print("Thank you we will let you know")

Enter you age 15

Thank you we will let you know

In [42]:
## TASK

## Mall - input the product price
## product  > 1000 rs 20 % off
## print the product price
## product <= 1000 rs 30 % off
## print the product price


price=int(input("Enter the Product Price"))
if price > 1000:
    print("The Price of Product is {}".format(price*0.8))
else:
    print("The Price of Product is {}".format(price*0.7))

Enter the Product Price 1000

The Price of Product is 700.0

In [17]:
## TASK

## Mall - input the product price
## product  > 3000 rs 20 % off
## price is grater then 4000 then you get trip to goa 
## print the product price
## product  >= 2000 rs and <=3000 30 % off
## print the product price
## if the product price is 2999 then you get a additional gift.
## product <= 1000 rs and <=2000  40 % off
## print the product price

price=int(input("Enter the Product Price"))
if price > 3000:
    if price <=4000:
        print("You get a trip to goa")
    print("The Price of Product is {}".format(price*0.8))
elif price >=2000 and price <= 3000:
    if price == 2999:                                      ## this is called nested if
        print("Congratulation you get a additional gift")
    print("The Price of Product is {}".format(price*0.7))
else:
    print("The Price of Product is {}".format(price*0.6))

Enter the Product Price 2000

The Price of Product is 1400.0

## Loops Statemets

1. While loop
2. for loop
3. nested loop
4. loop control(Break, continue, pass)

In [6]:
# while loop while-else
joining_age = 25
while joining_age <= 60:
    print(joining_age)
    joining_age=joining_age+1
else:
    print("its time for retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
its time for retirement

In [2]:
### ATM machine with 1000 rs 
total_amount = 1000
while total_amount != 0:
    print(total_amount)
    total_amount = total_amount-100
else:
    print("put more money")

1000
900
800
700
600
500
400
300
200
100
put more money

## For Loop

In [5]:
lst=["apple",1,2,3,"Praveen","Patel"]

In [4]:
type(lst)

list

In [9]:
lst[0]

'apple'

In [10]:
for x in lst:
    print(x)

apple
1
2
3
Praveen
Patel

In [11]:
fruits_list=["apple","mango","cherry","papaya","Banana"]

In [15]:
for a in fruits_list:
    print(a)
    if a=="cherry":
        print("The fruit is cherry")

apple
mango
cherry
The fruit is cherry
papaya
Banana

In [16]:
fruit =  "mango"  ## string is also a collestion of elements.
for x in fruit:
    print(x)

m
a
n
g
o

In [18]:
fruit[0]  ## we can do indexing.. in string also.

'm'

In [22]:
for i in range(1,6,2):
    print(i)

1
3
5

In [29]:
### Nested loops
n=7

for i in range(0,n):   ## WHEN i STARTED WITH 0 :- IT MEAN IT RUN ONE ITRACTION
    for j in range(0,i+1):   ## WHEN i HABE 1 ITRACTION THEN j HAVE 2 ITRACTION THAT IS 0,1
            print("*",end="")
    print("\r")  ## \r next line and move towords the left most side.

*
**
***
****
*****
******
*******

In [30]:
## loop controls
## break and continue

fruits_list=["apple","mango","cherry","papaya","Banana"]

In [35]:
for i in fruits_list:
    if i == "cherry":
        print("the fruit is cherry")
        break
    print(i)    ## break the loop after finding cherry

apple
mango
the fruit is cherry

In [38]:
for i in fruits_list:
    if i == "cherry":
        print("the fruit is cherry")
        pass
    print(i) ## it will not do every thing

apple
mango
the fruit is cherry
cherry
papaya
Banana

In [39]:
for i in fruits_list:
    if i == "cherry":
        print("the fruit is cherry")
        continue  ## skip the loop
    print(i)

apple
mango
the fruit is cherry
papaya
Banana